dag.overwrite = true

params {

	OutDir= "/home/justb11/scratch/Full_Pipeline"

        fasta = "/home/justb11/scratch/Full_Pipeline/Homo_sapiens.GRCh38.fa"
        chain = "/home/justb11/scratch/Full_Pipeline/hg19ToHg38.over.chain.gz"

	clsa_plink = "/home/justb11/projects/def-gsarah/clsa/clsa_gen_v3.*"

        anderson_bed_gz = "/home/justb11/scratch/Full_Pipeline/HG38.Anderson2010.bed.gz" 
        dust_masker_gz = "/home/justb11/scratch/Full_Pipeline/HG38.Dust_RepeatMasker.bed.gz"

        mqc = "/home/justb11/projects/def-gsarah/clsa/clsa_mqc_v3.txt"
        sqc = "/home/justb11/projects/def-gsarah/clsa/clsa_sqc_v3.txt"

        base_phenotypes = "/home/justb11/projects/def-gsarah/clsa/2104010_UdM_SGagliano_Baseline/2104010_UdM_SGagliano_CoP6_Baseline.csv"

        clsa_bgen = "/home/justb11/projects/def-gsarah/clsa/clsa_imp_*_v3.bgen"
        clsa_samples = "/home/justb11/projects/def-gsarah/justb11/regenie_CLSA/clsa/clsa_imp_v3.sample"
}

executor {
        $slurm {
              queueSize = 500 // 950 causes problems... no other tests yet.
        }
        $local {
                cpus = 1
        }
}

process {
        withLabel : 'python_script' {
                beforeScript = "module load python/3.11.5"
                executor = "slurm"
                clusterOptions = "--account=def-gsarah"
                cpus = 1
                time = "1h"
                memory = "4GB"   
        }
        withLabel: 'QC' {
                beforeScript = "module load kentutils plink/1.9b_6.21-x86_64"
                executor = "slurm"
                clusterOptions = "--account=def-gsarah"
                cpus = 1
                time = "1h"
                memory = "8GB"
        }
        withLabel: 'r_script' {
                beforeScript = "module load r/4.3.1"
                executor = "slurm"
                clusterOptions = "--account=def-gsarah"
                cpus = 1
                time = "1h"
                memory = "16GB"
        }
        withLabel: 'regenie_step1' {
                beforeScript = "module load StdEnv/2020 gcc/9.3.0 regenie/3.2.1"
                executor = "slurm"
                clusterOptions = "--time=23:58:58 --mem-per-cpu=36G --cpus-per-task=2 --ntasks=4  --account=def-gsarah"
        }
        withLabel: 'regenie_step2' {
                beforeScript = "module load StdEnv/2020 gcc/9.3.0 regenie/3.2.1"
                executor = "slurm"
                clusterOptions = "--time=10:00:00 --mem-per-cpu=10G --cpus-per-task=1 --ntasks=8 --account=def-gsarah"
        }
        withLabel: 'PLINK2_Subset' {
                beforeScript = "module load plink/2.00a3.6"
                executor = "slurm"
                clusterOptions = "--time=3:00:00 --mem-per-cpu=30G --cpus-per-task=2 --account=def-gsarah"
        }
}
